/* body{
  background-color: bisque;
}
#main-btn{
  background-color:coral;
  color: lightgoldenrodyellow;
  font-size: 24px;
  border: firebrick 3px dashed;

}
.newBtn{
  background-color: aqua;
} */
